/* Escalo y ordeno imágenes */

picture {
    display: flex;
    padding: 2%;
}

img {
    width: 20%;
    height: auto;
}

.imgArticulo {
    /* justify-content: space-between; */
    justify-content: space-around;
}

/* Orden de artículos */

section {
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 40% 40%;
    justify-content: space-around;
}

